* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    width: 100%;
    height: auto;
    font-family:   'Roboto', sans-serif;
}
.text-bg-dark-aux {
    /* color: darkblue; */
    background-color: #e1e9e8;
}
.jumbotron-box-text {
    padding: 4rem;
}
.jumbotron-box-text-parrafo {
    padding: 3rem;
}
.jumbotron-box-img img {
    width: 800px;
    height: 600px;
    object-fit: cover;
}
.jumbotron-contacto {
    display : flex;
    flex-flow: row wrap;
    gap: 2rem;
    padding: 1rem;
    color: black;
}
.form-size {
    width: 400px;
    height: 58px;
}
.bottom-size {
    width: 95px;
    height: 58px;
}
.ServiceContainer {
    background-color: #e1e9e8; 
}
.ServiceContainer-title {
    padding: 3rem;
    text-align: center;
}
.ServiceContainer-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.card-body {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
}
.card-img {
    height: 192px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* .container-extra {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-flow: row wrap;
}
.extras-box {
    width: 50%;
} */
.extras-box-text {
    padding: 2rem;
}
.extras-box-text-parrafo {
    padding: 1rem;
}
.extras-box-img img {
    width: 800px;
    height: 600px;
    object-fit: cover;
}
.container-footer {
    background-color: #e1e9e8;
    
}